body {
                font-family: 'Alice', serif;
                font-size: 20px;
                font-weight: 250;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            header {
                background-image: url('header.jpg');
                background-size: cover;
                color: #fff;
                padding: 20px;
                text-align: center;
                font-size: 20px;
                color: #ffffff;
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                text-align: center;
                color:#ffffff;
                font-size: 24px;
            }
            main {
                padding: 20px;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
            footer {
                background-image: url('portfolio-footer.jpg');
                width: 1565px; 
                height: 220px;
                background-size: cover;
                color: #000000;
                padding: 10px;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                position: relative;
                bottom: -50px;
                left: 0;
                right: 0;
            }
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
            }
            a:hover {
                text-decoration: underline;
            }