body {
    font-family: 'Alice', serif;
    font-size: 20px;
    font-weight: 250;
    text-align: center;
    margin: 0;
    padding: 0;
}

            header {
                background-image: url('header.jpg');
                background-size: cover;
                color: #fff;
                padding: 20px;
                text-align: center;
                font-size: 20px;
                color: #ffffff;
            }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #000000;
            }
            nav ul li {
                float: left;
            }
            nav ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            nav ul li a:hover {
                background-color: orangered;
            }
            main {
                padding: 20px;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
footer {
    background-image: url('portfolio-footer.jpg');
    width: 110w; 
    height: 22vh;
    background-size: cover;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    bottom: -50px;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
a:hover {
    text-decoration-style: bold;
    color: orangered;
}

button {
    background-color: lightgoldenrodyellow;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    border-style: curved;
}

/*Gallery*/
/*
.gallery
    body {
            font-family: 'Alice', serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            text-align: center;
            background-image: url('gallery-header.jpg');
            background-size: cover;
            color: #000000;
            padding: 20px;
            font-size: 36px;
        }
        main {
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        footer {
            background-image: url('galler-footer.jpg');
            background-size: cover;
            font-family: 'Alice', serif;
            font-size: 36px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
            color:black;
        }
        section {
            flex: 1;
            margin-right: 20px;
        }
        h1, h2 {
            font-family: 'Alice', serif;
        }
        a {
            font-weight: bold;
            font-size: 20px;
        }*/

        /*Contact*/
body.contact {
            font-family: 'Alice', serif;
            background-color: #f4f4f4;
        }
header.contact {
            background-image: url('contacts-header.jpg');
            background-size: cover;
            text-align: center;
            font-size: 36px;
        }
        main.contact {
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        footer.contact {
            background-image: url('contacts-footer.jpg');
            background-size: cover;
            font-family: 'Alice', serif;
            font-size: 36px;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
            color:black;
        }
        h1.contact {
            font-size: 46px;
            margin-bottom: 20px;
        }
        dl.contact {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            font-weight: 500;
        }
        dl.contact {
            list-style-type: none;
            padding: 20px;
        }
        dt.contact, dd.contact {
            margin-bottom: 10px;
        }
        a.contact {
            color: #440f37;
            text-decoration: none;
            font-weight: bold;
        }
        a.contact:hover {
            text-decoration: underline;
        }
        article {
            width: 60%;
            text-align: left;
            margin-right: 20px;
            font-size: 20px;
        }
        aside {
            margin-top: 20px;
            text-align: right;
            font-size: 20px;
            font-weight: 500;
        }



        /*Projects in Progress*/
        /*body {
            font-family: 'Alice', serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-image: url('projects-header.jpg');
            background-size: cover;
            color: rgb(255, 255, 255);
            padding: 10px 0;
            text-align: center;
            font-size: 36px;
        }
        main {
            padding: 20px;
            font-size: 20px;
            font-weight: 500;
        }
        h1, h2 {
            font-family: 'Alice', serif;
            color: #000000;
        }
        ul {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        a {
            font-weight: bold;
            font-size: 30px;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            background-image: url('projects-footer.jpg');
            background-size: cover;
            color: #000000;
            text-align: center;
            font-size: 26px;
            font-family: 'Alice', serif;
            padding: 10px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }*/